/* styles.css */
html, body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    background-color: #fff;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #263D45;
}

h2 {
    font-size: 18px;
    /*font-weight: bold;*/
    margin: 10px 0 3px;
}

h3 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0;
}

p {
    font-size: 14px;
    color: #000;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: #3E77B9;
}

a:hover {
    color: #EA3B33;
}

/* ================================================== */
/* Interactive styles
/* ================================================== */

#sm-interactive {
    width: 100%;
    height: 700px;
    background: #728C99;
}


/* ================================================== */
/* Header
/* ================================================== */

.sm-main-header {
    /*position: absolute;
    z-index: 900;*/
    height: 60px;
    padding: 0 20px;
    background: #fff;
}

.sm-main-title {
    float: left;
    margin-top: 5px;
}

.sm-main-title h1 {
    /*color: #333;*/
    font-size: 26px;
    margin: 0;
    /*margin: 20px 0;*/
    line-height: 0.85em;
    font-weight: bold;
}

.sm-main-title span {
    display: block;
    font-weight: normal;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.07em;
    margin-left: 1px;
    text-transform: uppercase;
}

.sm-main-nav {
    margin: 20px 0;
    float: right;
}

.sm-nav-tabs li {
    display: inline-block;
    margin: 0 5px;
}

.sm-nav-tabs a {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sm-nav-tabs a.active {
    color: #EA3B33;
    cursor: default;
}

/*.sm-sidebar .sm-nav-tabs li {
    display: block;
    margin: 5px 0;
}

.sm-sidebar .sm-nav-tabs {
    margin-bottom: 20px;
}*/


/* ================================================== */
/* Sidebar
/* ================================================== */

.sm-sidebar-container {
    background: #fff;
    margin-top: 20px;
    border-top: 2px solid #333;
    z-index: 900;
    height: 100%;
    width: 33.333%;
    position: absolute;
    top: 60px; right: 0; bottom: 0;
}

.sm-sidebar {
    background: #fff;
    padding: 10px 0;
    margin: 0 20px;
    border-bottom: 1px solid #eee;
    /*margin-top: 20px;*/
}

.sm-sidebar h3 {
    font-weight: normal;
    /*font-style: italic;*/
    color: #777;
}

.sm-sidebar-header {
    margin-bottom: 15px;
}

#sm-display-sidebar-header {
    margin-bottom: 0;
}

.sm-sidebar h3.sm-display-figure {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #263D45;
    font-style: normal;
    font-size: 24px;
    margin: 0 0 5px;
}

#sm-display-number {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding-right: 2px;
}

.sm-dollar-sign {
    /*font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: bold;
    vertical-align: top;
    line-height: 2.2em;
    padding-right: 3px;
}


/* ================================================== */
/* Table styles
/* ================================================== */

#sm-table {
    width: 100%;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-bottom: 15px;
}

#sm-table th {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    font-weight: 700;
    padding: 2px 0;
    vertical-align: bottom;
    /*border-bottom: 1px solid #eee;*/
}

.sm-top-row td {
    padding-top: 5px;  
}


/* ================================================== */
/* Chart styles
/* ================================================== */

#sm-chart {
    width: 100%;
}

.bar rect {
    fill: #3E77B9;
}

.bar rect.active,
.bar:hover rect {
    fill: #EA3B33;
}

.bar .label {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #000;
    font-size: 12px;
}

.bar .value {
    fill: #fff;
    font-size: 12px;
    pointer-events: none;
}


/* ================================================== */
/* Map styles
/* ================================================== */

#sm-map {
    /*position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;*/
    height: 100%;
    width: 66.666%;
}

.leaflet-container {
    background: #728C99;
}

path.leaflet-interactive {
    fill: #F1F1F1;
    fill-opacity: 1;
    stroke: #DBD9D7;
}

path.overlay-circle {
    stroke: #3E77B9;
    stroke-width: 2;
    fill: #3E77B9;
    fill-opacity: 0.5;
}

/*path.overlay-circle {
    stroke: #EA3B33;
    stroke-width: 2;
    fill: #EA3B33;
    fill-opacity: 0.5;
}*/

path.map-line {
    fill-opacity: 0;
    stroke: #3E77B9;
    stroke-width: 0;
}

/*Popup styles*/

.leaflet-popup {
    pointer-events: none;
}

.leaflet-popup p {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #263D45;
    margin: 0 !important;
    padding: 0 !important;
}

.leaflet-popup p:first-of-type {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #263D45;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.leaflet-popup-tip-container,
.leaflet-popup-close-button {
    display: none;
}

#sm-map path.active {
    stroke: #EA3B33;
    fill: #EA3B33;
}

@media (max-width: 800px) {
    #sm-interactive {
        background: #fff;
    }

    #sm-map {
        display: none;
    }

    .sm-sidebar-container {
        width: inherit;
        margin-top: 5px;
    }

    .sm-main-nav {
        display: none;
    }
}

