/* styles.css */
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    background-color: #fefefe;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
    width: 100%;
    height: 600px;
    background: #f0f0f0;
}

#map {
    height: 100%;
    width: 100%;
}

/*.leaflet-interactive {
    fill: #333;
    stroke: #f0f0f0;
    stroke-weight: 3px;
}*/

path.leaflet-interactive {
    fill: #333;
    fill-opacity: 1;
    stroke: #f0f0f0;
    stroke-width: 2;
}

path.overlay-circle {
    stroke: red;
    stroke-width: 5;
    fill: red;
    fill-opacity: 0.5;
}


.leaflet-container {
    background: lightblue !important;
}
